// colors
$color__blue: #3f51b5;
$color__blue--light: #468ee5;
$color__blue--lighten: #98caf6;
$color__green: #1dba7a;
$color__green--light: #36be7c;
$color__green--hover: #1bb174;
$color__red: #f25467;
$color__pink: #ff596d;
$color__orange: #ffa727;
$color__gray--dark: #5d616f;
$color__gray: #95a3b4;
$color__gray-51: #515151;
$color__gray--lighten: #e7eaf3;

$color__gray--light: #d4d8df;

$color__beige: #fafbfe;

$color__white: #fff;
$color__silver: #eef4fc;
$color__black: #000000;