@import 'constants';
@import 'mixins';

html, body, ul, p {
  padding: 0;
  margin: 0;
}
html {
  font-size: 1em;
}
* {
  box-sizing: border-box;
}
body {
  font-size: 100%;
}

#app {
  text-align: center;
  &:before {
    content: '';
    display: inline-block;
    height: 100vh;
    vertical-align: middle;
  }
}

.app-wrapper {
  display: inline-block;
  height: 27vh;
  width: 65vw;
}